body {
  font-family: 'Roboto', sans-serif;
  background-color: #fefbfa; }

label {
  font-weight: 500; }

.cursor-pointer {
  cursor: pointer; }

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 1em;
  height: 1em; }
  .icon.icon-lg {
    width: 1.3333em;
    height: 1.3333em; }
  .icon.icon-xl {
    width: 1.5em;
    height: 1.5em; }
