@import '_common';

$main-bg-color: #fefbfa;

body {
	font-family: 'Roboto', sans-serif;
	background-color: $main-bg-color;
}

.cursor-pointer {
	@extend %cursor-pointer;
}

label {
	@extend %semi-bold;
}

.badge {
	@extend %semi-bold;
	margin-top: -0.25em;
}

.react-icons {
	@include square(1em);
}

.icon-lg {
	@include square(1.3em);
}

.icon-xl {
	@include square(1.5em);
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
}

// .main-container {
// 	min-height: 100vh;
// 	position: relative;
// 	z-index: 1;
// 	background-color: $main-bg-color;
// }

// .navbar-bottom {
// 	/* csslint ignore:start */
// 	position: sticky;
// 	/* csslint ignore:end */
// 	bottom: 0;
// }

.navbar-bottom__brand {
	@include square(75px);
	filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.form__raw-data {
	height: 25vh;
	min-height: 10vh;
	max-height: 50vh;
}

.friend-list {
	display: grid;
	/* csslint ignore:start */
	grid-gap: 1em;
	/* csslint ignore:end */
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

	img {
		@include square(64px);
	}
}

.friend-list__friend {
	background-color: #fff;
	/* csslint ignore:start */
	border: 1px solid rgba(0, 0, 0, 0.1);
	/* csslint ignore:end */
}

.friend-list__friend-icon {
	@include square(64px);
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
