body
	font-family: 'Roboto', sans-serif
	background-color: #fefbfa

%semi-bold
	font-weight: 500

%cursor-pointer
	cursor: pointer

=size($width, $height)
	width: $width
	height: $height

=square($size)
	+size($size, $size)

.cursor-pointer
	@extend %cursor-pointer

label
	@extend %semi-bold

.icon
	display: inline-block
	stroke-width: 0
	stroke: currentColor
	fill: currentColor
	+square(1em)
	// margin-top: -0.18em
	&.icon-lg
		+square(1.3333em)
	&.icon-xl
		+square(1.5em)
		// vertical-align: -18%

// #fmGetFriends
// 	margin-top: 10px;
// 	.btn-group
// 		margin-top: 10px;

// #divFriends
// 	clear: both;
// 	&>div
// 		margin: 10px auto;
// 		.media-left
// 			.media-object
// 				height: 100px;
// 				width: auto
