body
	font-family: 'Roboto', sans-serif
	background-color: #fefbfa

%semi-bold
	font-weight: 500

%cursor-pointer
	cursor: pointer

.cursor-pointer
	@extend %cursor-pointer

label
	@extend %semi-bold

// #fmGetFriends
// 	margin-top: 10px;
// 	.btn-group
// 		margin-top: 10px;

// #divFriends
// 	clear: both;
// 	&>div
// 		margin: 10px auto;
// 		.media-left
// 			.media-object
// 				height: 100px;
// 				width: auto
